/* ------------------------ Core Externals ---------------------------- */
@import url(normalize.css);
@import url(font-awesome.css);
@import url(fonts.css);

html,body{
	width:100%;
	height: 100%;
}
body{
	background:transparent;
	font: 16px/30px 'Open Sans',sans-serif;
	font-weight: 300;
	color: #888;
}
h3{
	font: 50px 'Open Sans',sans-serif;
	font-weight: 300;
}
a,a:link,a:active,a:visited{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
/*------------------------ Navigation Content ---------------------*/
.navigation{
	position:absolute;
	top: 0;
	right: 0;
	z-index: 1;
	width: 300px;
}
nav{
	margin: 0 10px 0 0;
	padding: 0 0 0 0;
	color: #333;
	font-size: 11px;
	text-transform: uppercase;
}
nav li{
	display: inline-block;
	margin-right: 5px;
	line-height: 35px;
}
.logo{
	margin: 3px auto;
	width: 199px;
}
/*------------------------ Container Content ------------------------*/
.low-container{
	position:absolute;
	bottom: 50px;
	width: 100%;}
/* ------------------------ Arrow Content ------------------------- */
#continue-arrow-wrapper{
	width: 40px;
	height: 40px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	position: absolute;
	left: 50%;
	bottom: 14px;
}
#continue-arrow .icon-angle-down{
	font-size: 60px;
	-webkit-animation: pulsate 3s ease-in-out 0s infinite alternate;
	-moz-animation: pulsate 3s ease-in-out 0s infinite alternate;
	animation: pulsate 3s ease-in-out 0s infinite alternate;
}
#continue-arrow a,
#continue-arrow a:link,
#continue-arrow a:active{
	border: none;
}
/* ------------------------ Home Sections -------------------------- */
#home{
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100%;
	background: url(/img/bg/main-alt.jpg) no-repeat top center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#home button{
	position:absolute;
	right: 10%;
	bottom: 22%;
	width: 300px;
	color: #fff;
	padding: 10px;
	text-transform: uppercase;
	background: #888;
	border: none;
	font: 18px "Didot", sans-serif;
	font-style: italic;
	border-style: solid;
	border-width: 1px;
}
#home .medium{
	margin: 0 auto;
	width: 980px;
	height: 100%;
}
#home .medium img{
	width: 51px;
	height: 26px;
	display: block;
	cursor: pointer;
	float: left;
	margin: 710px 0 0 450px;
}
/* ------------------------ About Us Sections -------------------------- */
#about-us{
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100%;
}
#about-us .left-icon{
	position: absolute;
	top: 0;
	left: 10%;
	margin: 50px 0 0 0;
	text-align: center;
}
#about-us .left-icon .icon-globe{
	color: #ffd67f;
	font-size: 259px;
}
#about-us .right-content{
	position: absolute;
	top: 0;
	right: 15%;
	color: #888;
	max-width: 720px;
	margin: 2px 0 0 0;
	padding: 0 0 0 10px;
	text-transform:inherit;
}
#about-us .right-content h3{
	font-size: 50px;
	color: #888;
	text-transform: uppercase;
}
#about-us .right-content p{
	color: #888;
	text-transform: inherit;
}
#about-us .right-content .time-font{
	font: 48px 'Didot',sans-serif;
	font-weight: 300;
	color: #888;
	font-style: italic;
}
#about-us .how-it-works{
	float: left;
	margin: 50px 0 0 0;
	width: 980px;
	display: none;
}
#about-us .how-it-works ul.steps{
	width: 850px;
	margin: 0 auto;
}
#about-us .how-it-works ul.steps-content{
	width: 850px;
	margin: 20px auto;
}
#about-us .how-it-works ul.steps li{
	list-style: none;
	display: inline-block;
	width: 260px;
	text-align: center;
}
#about-us .how-it-works ul.steps-content li{
	list-style: none;
	display: inline-block;
	width: 260px;
	text-align: center;
	font: 16px/30px 'Open Sans',sans-serif;
	font-weight: 300;
	color: #888;
	text-transform: inherit;
}
#about-us .how-it-works ul.steps-content li .circles{
	display: block;
	width: 41px;
	height: 41px;
	margin: 0 auto;
}
#about-us .how-it-works .steps-content p{
	font: 16px/30px 'Open Sans',sans-serif;
	font-weight: 300;
	color: #888;
	text-transform: inherit;
	padding-top: 20px;
	padding-bottom: 20px;
}
/* -------------------- What Are Yours --------------------- */
#ways{
	position:relative;
	width: 100%;
	height: 100%;
	min-height: 100%;
	background: url(/img/patterns/dust_@2X.png);
}
#ways h3{
	position:absolute;
	left: 15%;
	top: 5%;
	color: #888;
	text-transform: uppercase;
	margin-bottom: 0;
	padding-top: 20px;
}
#ways article{
	margin-bottom: 20px;
}
#ways #map{
	position:absolute;
	top: 0;
	left: 10%;
	width: 80%;
}
#ways #map_canvas{
	border-radius: 2px;
	border-color: #ffd67f;
	border: 6px solid #ffd67f;
	width: 100%;
	max-width: 100%;
}
#ways #map_canvas p{
	font: 13px Arial,Helvetica,sans-serif;
	color: #999;
	padding-top: 8px;
}
#ways .right-content .time-font{
	font: 53px 'Times',sans-serif;
	font-weight: 300;
	color: #888;
	font-style: italic;
}
#ways a,
#ways a:link,
#ways a:active{
	text-decoration: none;
	color: #999;
	border-bottom: 1px solid #999;
	padding-bottom: 2px;
	font-weight: 400;
}
#ways a:hover{
	text-decoration: none;
	color: #888;
	border-bottom: 1px solid #888;
	padding-bottom: 2px;
}
#ways .how-it-works{
	float: left;
	margin: 50px 0 0 0;
	width: 980px;
	height: 318px;
}
#ways .how-it-works ul.steps{
	width: 850px;
	margin: 0 auto;
}
#ways .how-it-works ul.steps-content{
	width: 850px;
	margin: 20px auto;
}
#ways .how-it-works ul.steps li{
	list-style: none;
	display: inline-block;
	width: 260px;
	text-align: center;
}
#ways .how-it-works ul.steps-content li{
	list-style: none;
	display: inline-block;
	width: 260px;
	text-align: center;
	font: 16px/30px 'Open Sans',sans-serif;
	font-weight: 300;
	color: #888;
	text-transform: inherit;
	vertical-align: top;
}
#ways .how-it-works ul.steps-content li .circles{
	display: block;
	width: 41px;
	height: 41px;
	margin: 0 auto;
}
#ways .how-it-works .steps-content p{
	font: 16px/30px 'Open Sans',sans-serif;
	font-weight: 300;
	color: #888;
	text-transform: inherit;
	padding-top: 20px;
	padding-bottom: 20px;
}
/* -------------------- Personalize --------------------- */
#personalize{
	margin: 0 0 0 0;
	clear: both;
	height: 100%;
}
#personalize .medium{
	height: 100%;
}
#personalize .medium h3{
	font: 50px 'Open Sans',sans-serif;
	font-weight: 300;
	color: #888;
	text-transform: uppercase;
	margin-bottom: 0;
	padding-top: 20px;
}
#personalize .medium p{
	font: 16px/30px 'Open Sans',sans-serif;
	font-weight: 300;
	color: #888;
	text-transform: inherit;
}
#personalize .medium .right-content .time-font{
	font: 53px 'Times',sans-serif;
	font-weight: 300;
	color: #888;
	font-style: italic;
}
#personalize .medium a,
#personalize .medium a:link,
#personalize .medium a:active{
	text-decoration: none;
	color: #999;
	border-bottom: 1px solid #999;
	padding-bottom: 2px;
	font-weight: 400;
}
#personalize .medium a:hover{
	text-decoration: none;
	color: #888;
	border-bottom: 1px solid #888;
	padding-bottom: 2px;
}
#personalize .medium .products{
	float: left;
	margin: 100px 0 0 0;
	width: 980px;
}
#personalize .medium .products ul.product-images{
	width: 850px;
	margin: 0 auto;
}
#personalize .medium .products ul.product-names{
	width: 850px;
	margin: 20px auto;
}
#personalize .medium .products ul.product-images li{
	list-style: none;
	display: inline-block;
	width: 150px;
	text-align: center;
}
#personalize .medium .products ul.product-names li{
	list-style: none;
	display: inline-block;
	width: 150px;
	text-align: center;
	font: 16px/30px 'Open Sans',sans-serif;
	font-weight: 300;
	color: #888;
	text-transform: inherit;
	vertical-align: top;
}
#personalize .medium button{
	width: 350px;
	color: #111;
	padding: 10px;
	text-transform: uppercase;
	float: right;
	margin: 50px 0 0 0;
	background: #888;
	border: none;
	font: 22px "Times New Roman", sans-serif;
	font-style: italic;
	border-style: solid;
	border-width: 1px;
	background: transparent;
	border-color: #111;
}
#personalize .medium button .icon-angle-right{
	padding-left: 10px;
	font-size: 25px;
}
#personalize .medium button:hover{
	border-color: #999;
	color: #999;
}
#home-scroll{
	display: block;
	width: 60px;
	height: 60px;
	float: left;
	margin: 680px 0 0 460px;
	-webkit-animation: pulsate 3s ease-in-out 0s infinite alternate;
	-moz-animation: pulsate 3s ease-in-out 0s infinite alternate;
	animation: pulsate 3s ease-in-out 0s infinite alternate;
	text-align: center;
}
@-webkit-keyframes pulsate {
    0%{opacity: 1;}
    50%{opacity: 0.3;}
    100%{opacity: 1;}
}
@-moz-keyframes pulsate {
    0%{opacity: 1;}
    50%{opacity: 0.3;}
    100%{opacity: 1;}
}
@keyframes pulsate {
    0%{opacity: 1;}
    50%{opacity: 0.3;}
    100%{opacity: 1;}
}
#home-scroll .icon-angle-down{
	color: #fff;
	font-size: 60px;
	margin: 0 auto;
}
.continue-arrow{
	width: 76px;
	height:51px;
	margin: 0 auto;
}
#map_canvas{
	width: 980px;
	height: 400px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.icon-angle-down{
	color: #d4d4d4;
	font-size: 100px;
	margin: 0 auto;
}
/* ---------------------------- Footer Content ------------------------------------ */
footer{
	position:relative;
	bottom: 0;
	background: transparent;
	opacity: 0.8;
	width: 100%;
	height: 50px;
	font-family: 'Open Sans',sans-serif;
	color: #333;
	font-size: 11px;
	text-transform: uppercase;
}
footer ul#footer-wrapper{
	margin: 15px auto;
	padding:0;
	width:800px;
}
footer ul#footer-wrapper li{
	display: inline-block;
	width: 160px;
	text-align: center;
}
footer ul#footer-wrapper li a{
	color: #333;
}
footer ul#footer-wrapper li a:hover{
	text-decoration: underline;
	color: #333;
}
/* ----------------------------- Modals ------------------------------------------- */
.reveal-modal p, .reveal-modal ul li{
	font-size: 13px;
	font: 13px/18px 'Open Sans',sans-serif;
	font-weight: 300;
}
.reveal-modal ul li{
	margin-left: 30px;
}
.reveal-modal h3{
	font: 16px/22px 'Open Sans',sans-serif;
	color: #111;
	text-transform: uppercase;
	font-weight: 300;
}
/* ----------------------------- Scrolls Bars ------------------------------------- */

/* ----------------------------- Media Queries -------------------------------------*/
@media only screen and (max-width: 1024px){
	#home{
		width: 100%;
		height: 100%;
	}
	#home button{
		right: 30%;
		width: 300px;
	}
	#map{
		width: 100%;
		margin: 0 auto;
	}
	#map_canvas{
		width: 100%;
	}
	#about-us .left-icon .icon-globe{
		font-size: 14.5em;
	}
	#about-us .right-content{
		right: 8%;
		width: 600px;
	}
	#about-us .right-content h3{
		font-size: 40px;
	}
	#about-us .right-content .time-font{
		font-size: 39px;
	}
	#ways{
		width: 100%;
	}
	#ways .medium{
		width: 100%;
		margin: 0 auto;
	}
	#ways .medium h3{
		padding-left: 10px;
	}
	#ways .medium p,
	#ways .medium article{
		padding-left: 10px;
		padding-right: 10px;
	}
	#ways .medium a{
		border: none;
	}
	#personalize{
		width: 978px;
	}
	#personalize .medium{
		width: 978px;
		margin: 0 auto;
	}
	#personalize .medium h3{
		padding-left: 10px;
	}
	#personalize .medium button{
		margin: 50px 100px 0 0;
	}
}

@media only screen and (max-width: 1000px){
	#home{
		width: 100%;
		height: 100%;
	}
	#home button{
		right: 30%;
		width: 300px;
	}
	#map{
		width: 100%;
		margin: 0 auto;
	}
	#map_canvas{
		width: 100%;
	}
	#about-us .left-icon .icon-globe{
		font-size: 14.5em;
	}
	#about-us .right-content{
		right: 8%;
		width: 600px;
	}
	#about-us .right-content h3{
		font-size: 40px;
	}
	#about-us .right-content .time-font{
		font-size: 39px;
	}
	#ways{
		width: 100%;
	}
	#ways .medium{
		width: 100%;
		margin: 0 auto;
	}
	#ways .medium h3{
		padding-left: 10px;
	}
	#ways .medium p,
	#ways .medium article{
		padding-left: 10px;
		padding-right: 10px;
	}
	#ways .medium a{
		border: none;
	}
	#personalize{
		width: 978px;
	}
	#personalize .medium{
		width: 978px;
		margin: 0 auto;
	}
	#personalize .medium h3{
		padding-left: 10px;
	}
	#personalize .medium button{
		margin: 50px 100px 0 0;
	}
}
@media only screen and (max-width: 950px){
	#home{
		width: 100%;
		height: 100%;
	}
	#home button{
		right: 30%;
		width: 300px;
	}
	#map{
		width: 100%;
		margin: 0 auto;
	}
	#map_canvas{
		width: 100%;
	}
	#about-us .left-icon .icon-globe{
		font-size: 12.5em;
	}
	#about-us .right-content{
		right: 8%;
		width: 600px;
	}
	#about-us .right-content h3{
		font-size: 40px;
	}
	#about-us .right-content .time-font{
		font-size: 39px;
	}
	#ways{
		width: 100%;
	}
	#ways .medium{
		width: 100%;
		margin: 0 auto;
	}
	#ways .medium h3{
		padding-left: 10px;
	}
	#ways .medium p,
	#ways .medium article{
		padding-left: 10px;
		padding-right: 10px;
	}
	#ways .medium a{
		border: none;
	}
	#personalize{
		width: 978px;
	}
	#personalize .medium{
		width: 978px;
		margin: 0 auto;
	}
	#personalize .medium h3{
		padding-left: 10px;
	}
	#personalize .medium button{
		margin: 50px 100px 0 0;
	}
}
@media only screen and (max-width: 900px){
	#home{
		width: 100%;
		height: 100%;
	}
	#home button{
		right: 30%;
		width: 300px;
	}
	#map{
		width: 100%;
		margin: 0 auto;
	}
	#map_canvas{
		width: 100%;
	}
	#about-us .left-icon .icon-globe{
		font-size: 8.5em;
	}
	#about-us .right-content{
		right: 8%;
		width: 600px;
	}
	#about-us .right-content h3{
		font-size: 40px;
	}
	#about-us .right-content .time-font{
		font-size: 39px;
	}
	#ways{
		width: 100%;
	}
	#ways .medium{
		width: 100%;
		margin: 0 auto;
	}
	#ways .medium h3{
		padding-left: 10px;
	}
	#ways .medium p,
	#ways .medium article{
		padding-left: 10px;
		padding-right: 10px;
	}
	#ways .medium a{
		border: none;
	}
	#personalize{
		width: 978px;
	}
	#personalize .medium{
		width: 978px;
		margin: 0 auto;
	}
	#personalize .medium h3{
		padding-left: 10px;
	}
	#personalize .medium button{
		margin: 50px 100px 0 0;
	}
}
@media only screen and (max-width: 850px){
	#home{
		width: 100%;
		height: 100%;
	}
	#home button{
		right: 30%;
		width: 300px;
	}
	#map{
		width: 100%;
		margin: 0 auto;
	}
	#map_canvas{
		width: 100%;
	}
	#about-us .left-icon{
		left: 40%;
		margin-top: 0;
	}
	#about-us .left-icon .icon-globe{
		font-size: 15.5em;
	}
	#about-us .right-content{
		right: 12%;
		top: 30%;
		width: 600px;
	}
	#about-us .right-content h3{
		font-size: 40px;
	}
	#about-us .right-content .time-font{
		font-size: 39px;
	}
	#ways{
		width: 100%;
	}
	#ways .medium{
		width: 100%;
		margin: 0 auto;
	}
	#ways .medium h3{
		padding-left: 10px;
	}
	#ways .medium p,
	#ways .medium article{
		padding-left: 10px;
		padding-right: 10px;
	}
	#ways .medium a{
		border: none;
	}
	#personalize{
		width: 978px;
	}
	#personalize .medium{
		width: 978px;
		margin: 0 auto;
	}
	#personalize .medium h3{
		padding-left: 10px;
	}
	#personalize .medium button{
		margin: 50px 100px 0 0;
	}
}

/* ---------------------- Device Widths/Heights --------------------------------- */
@media only screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2){
	#home{
		background: url(/img/bg/main.png) no-repeat right bottom scroll;
		width: 100%;
		height: 100%;
	}
	#home .medium{
		width: 100%;
	}
	#home button{
		margin: 280px 35px 0 0;
		font-size: 18px;
		width: 250px;
	}
	#home-scroll{
		margin-top: 10px;
		margin-left: 140px;
		color: #d4d4d4;
	}
	#about-us{
		height: 100%;
		width: 100%;
	}
	#about-us .medium{
		height: 100%;
		width: 100%;
	}
	#about-us .medium .how-it-works{
		width: 100%;
		height: 1200px;
		margin-top: 30px;
	}
	#about-us .medium .how-it-works ul.steps{
		width: 100%;
		height: 100%;
	}
	#about-us .medium .how-it-works ul.steps-content li{
		display: block;
		margin-bottom: 50px;
		margin-left: 30px;
	}
	#about-us .medium .how-it-works ul.steps-content li:nth-last-child(1){
		margin-bottom: 0px;
	}
	#about-us .medium article{
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
		text-align: justify;
	}
	#about-us .medium .left-icon{
		margin: 30px 0 0 60px;
		width: 200px;
	}
	#about-us .medium .right-content{
		clear: both;
		font-size: 13px;
		line-height: 24px;
		width: 100%;
		padding-right: 0px;
	}
	#about-us .medium .right-content p{
		padding: 0 0px 0 0;
		font-size: 13px;
		line-height: 24px;
	}
	#about-us .medium .right-content h3{
		font-size: 20px;
	}
	#about-us .medium .right-content .time-font{
		font-size: 22px;
	}
	#about-us .medium .left-icon .icon-globe{
		font-size: 200px;
	}
	#about-us .medium .left-icon{
		clear: both;
	}
	#about-us .medium #continue-arrow{
		margin-top: 0px;
		margin-left: 150px;
	}
	#ways{
		margin-top: 150px;
		height: 1000px;
		width: 100%;
	}
	#ways .medium{
		height: 100%;
		width: 100%;
	}
	#ways .medium h3{
		font-size: 26px;
		text-align: center;
	}
	#ways .medium article{
		font-size: 13px;
		text-align: justify;
		line-height: 24px;
	}
	#ways .medium #continue-arrow{
		margin-top: 30px;
		margin-left: 150px;
	}
	#personalize{
		width: 100%;
		height: 100%;
	}
	#personalize .medium{
		width: 100%;
		height: 100%;
	}
	#personalize .medium h3{
		font-size: 26px;
		text-align: center;
	}
	#personalize .medium .products{
		width: 100%;
		margin-left: 85px;
	}
	#personalize .medium .products ul.product-names li{
		display: block;
		margin-bottom: 50px;
	}
	#personalize .medium .products ul.product-names li:active{
		-webkit-transform:scale(0.9);
		-moz-transform:scale(0.9);
		-ms-transform:scale(0.9);
		-o-transform:scale(0.9);
		transform:scale(0.9);
		-webkit-box-shadow:0px 0px 20px #111;
		-moz-box-shadow:0px 0px 20px #111;
		-o-box-shadow:0px 0px 20px #111;
		box-shadow:0px 0px 20px #111;
	}
	#personalize .medium button{
		margin: 50px 10px 0 0;
		background: transparent;
		border-color: #111;
		color: #111;
	}
	footer{
	}
	footer ul#footer-wrapper{
		width: 100%;
	}
	footer ul#footer-wrapper li{
		text-align: center;
	}
}