/*--------------------------- Overrides -----------------------------*/
html,body{
	width:100%;
	height: 100%;
}
body{background:transparent;}
/*------------------------ Navigation Content ---------------------*/
.wrapper{
	background: transparent;
	width: 100%;
	height: 100%;
}
.navigation{
	float: right;
	background: transparent;
}
nav{margin: 0 10px 0 0;padding: 0 0 0 0;font-family: 'Open Sans',sans-serif;color: #333;font-size: 11px;text-transform: uppercase;}
nav li{display: inline-block;margin-right: 5px;line-height: 35px;}
.logo{margin: 3px auto;width: 199px;}
/*------------------------ Feature Content ------------------------*/
.bx-controls-direction a.icon-angle-left,
.bx-controls-direction a.icon-angle-right{font-size: 30px;color: #fff;}
/*------------------------ Container Content ------------------------*/
.low-container{position:absolute;bottom: 50px;width: 100%;}
/*------------------------ Footer Content ------------------------*/
.medium{
	width: 980px;
	margin: 0 auto;
}
#continue-arrow{
	float: left;
	margin: 50px 0 0 460px;
}
#continue-arrow .icon-angle-down{
	font-size: 60px;
}
#continue-arrow a,
#continue-arrow a:link,
#continue-arrow a:active{
	border: none;
}
#home{
	background: url(/img/bg/main.png) no-repeat top center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 737px;
}
#home button{
	width: 300px;
	color: #fff;
	padding: 10px;
	text-transform: uppercase;
	float: right;
	margin: 600px 0 0 0;
	background: #888;
	border: none;
	font: 22px "Times New Roman", sans-serif;
	font-style: italic;
	border-style: solid;
	border-width: 1px;
}
#home .medium{
	margin: 0 auto;
	width: 980px;
	height: 100%;
}
#home .medium img{
	width: 51px;
	height: 26px;
	display: block;
	cursor: pointer;
	float: left;
	margin: 710px 0 0 450px;
}
#about-us{
	margin: 0 0 0 0;
	clear: both;
	height: 900px;
}
#about-us .medium{
	height: 900px;
}
#about-us .medium .left-icon{
	float: left;
	width: 260px;
	height: 260px;
	margin: 140px 0 0 0;
	text-align: center;
}
#about-us .medium .left-icon .icon-globe{
	color: #ffd67f;
	font-size: 259px;
}
#about-us .medium .right-content{
	float: right;
	font: 14px 'Open Sans',sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #888;
	width: 720px;
	margin: 132px 0 0 0;
	padding: 0 0 0 10px;
	text-transform:inherit;
}
#about-us .medium .right-content h3{
	font: 50px 'Open Sans',sans-serif;
	font-weight: 300;
	color: #888;
	text-transform: uppercase;
}
#about-us .medium .right-content p{
	font: 16px/30px 'Open Sans',sans-serif;
	font-weight: 300;
	color: #888;
	text-transform: inherit;
}
#about-us .medium .right-content .time-font{
	font: 53px 'Times',sans-serif;
	font-weight: 300;
	color: #888;
	font-style: italic;
}
#about-us .medium .how-it-works{
	float: left;
	margin: 100px 0 0 0;
	width: 980px;
}
#about-us .medium .how-it-works ul.steps{
	width: 850px;
	margin: 0 auto;
}
#about-us .medium .how-it-works ul.steps-content{
	width: 850px;
	margin: 20px auto;
}
#about-us .medium .how-it-works ul.steps li{
	list-style: none;
	display: inline-block;
	width: 260px;
	text-align: center;
}
#about-us .medium .how-it-works ul.steps-content li{
	list-style: none;
	display: inline-block;
	width: 260px;
	text-align: center;
	font: 16px/30px 'Open Sans',sans-serif;
	font-weight: 300;
	color: #888;
	text-transform: inherit;
}
#about-us .medium .how-it-works .steps img{
	display: block;
	width: 41px;
	height: 41px;
	margin: 0 auto;
}
#ways{
	margin: 200px 0 0 0;
	clear: both;
	background: #f9f9f9;
}
#ways .medium{
	height: 750px;
}
#ways .medium h3{
	font: 50px 'Open Sans',sans-serif;
	font-weight: 300;
	color: #888;
	text-transform: uppercase;
	margin-bottom: 0;
	padding-top: 20px;
}
#ways .medium p{
	font: 16px/30px 'Open Sans',sans-serif;
	font-weight: 300;
	color: #888;
	text-transform: inherit;
}
#ways .medium #map_canvas p{
	font: 13px Arial,Helvetica,sans-serif;
	color: #999;
	padding-top: 8px;
}
#ways .medium .right-content .time-font{
	font: 53px 'Times',sans-serif;
	font-weight: 300;
	color: #888;
	font-style: italic;
}
#ways .medium a,
#ways .medium a:link,
#ways .medium a:active{
	text-decoration: none;
	color: #999;
	border-bottom: 1px solid #999;
	padding-bottom: 2px;
	font-weight: 400;
}
#ways .medium a:hover{
	text-decoration: none;
	color: #888;
	border-bottom: 1px solid #888;
	padding-bottom: 2px;
}
#ways .medium a#continue-arrow{
	border: none;

}
#personalize{
	margin: 100px 0 0 0;
	clear: both;
}
#personalize .medium{
	height: 850px;
}
#personalize .medium h3{
	font: 50px 'Open Sans',sans-serif;
	font-weight: 300;
	color: #888;
	text-transform: uppercase;
	margin-bottom: 0;
	padding-top: 20px;
}
#personalize .medium p{
	font: 16px/30px 'Open Sans',sans-serif;
	font-weight: 300;
	color: #888;
	text-transform: inherit;
}
#personalize .medium .right-content .time-font{
	font: 53px 'Times',sans-serif;
	font-weight: 300;
	color: #888;
	font-style: italic;
}
#personalize .medium a,
#personalize .medium a:link,
#personalize .medium a:active{
	text-decoration: none;
	color: #999;
	border-bottom: 1px solid #999;
	padding-bottom: 2px;
	font-weight: 400;
}
#personalize .medium a:hover{
	text-decoration: none;
	color: #888;
	border-bottom: 1px solid #888;
	padding-bottom: 2px;
}
#personalize .medium .products{
	float: left;
	margin: 100px 0 0 0;
	width: 980px;
}
#personalize .medium .products ul.product-images{
	width: 850px;
	margin: 0 auto;
}
#personalize .medium .products ul.product-names{
	width: 850px;
	margin: 20px auto;
}
#personalize .medium .products ul.product-images li{
	list-style: none;
	display: inline-block;
	width: 150px;
	text-align: center;
}
#personalize .medium .products ul.product-names li{
	list-style: none;
	display: inline-block;
	width: 150px;
	text-align: center;
	font: 16px/30px 'Open Sans',sans-serif;
	font-weight: 300;
	color: #888;
	text-transform: inherit;
	vertical-align: top;
}
#personalize .medium button{
	width: 300px;
	color: #fff;
	padding: 10px;
	text-transform: uppercase;
	float: right;
	margin: 50px 0 0 0;
	background: #888;
	border: none;
	font: 22px "Times New Roman", sans-serif;
	font-style: italic;
	border-style: solid;
	border-width: 1px;
}
#home-scroll{
	display: block;
	width: 60px;
	height: 60px;
	float: left;
	margin: 680px 0 0 460px;
}
#home-scroll .icon-angle-down{
	color: #fff;
	font-size: 60px;
	margin: 0 auto;
}
.continue-arrow{
	width: 76px;
	height:51px;
	margin: 0 auto;
}
#map_canvas{
	width: 980px;
	height: 400px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.icon-angle-down{
	color: #d4d4d4;
	font-size: 100px;
	margin: 0 auto;
}
/* Footer Content */
footer{
	position:relative;
	bottom: 0;
	background: transparent;
	opacity: 0.8;
	width: 100%;
	height: 50px;
	font-family: 'Open Sans',sans-serif;
	color: #333;
	font-size: 11px;
	text-transform: uppercase;
}
footer ul#footer-wrapper{margin: 15px auto;padding:0;width:850px;}
footer ul#footer-wrapper li{display: inline-block;width: 160px;text-align: center;}

/* Media */
@media only screen and (max-width: 980px){
	#map{
		width: 960px;
		margin: 0 auto;
	}
	#map_canvas{
		width: 960px;
	}
	#ways{
		width: 978px;
	}
	#ways .medium{
		width: 978px;
		margin: 0 auto;
	}
	#ways .medium h3{
		padding-left: 10px;
	}
	#ways .medium p{
		padding-left: 10px;
	}
	#ways .medium a{
		border: none;
	}
	#personalize{
		width: 978px;
	}
	#personalize .medium{
		width: 978px;
		margin: 0 auto;
	}
}
@media only screen and (min-width: 980px){

}

@media only screen and (max-width: 480px){
	#home-scroll{
			margin-top: 20px;
			margin-left: 230px;
			color: #999;
		}
		#home{
			background: url(/img/bg/main.png) no-repeat right top scroll;
			width: 100%;
			height: 368px;
		}
		#home .medium{
			width: 100%;
		}
		#home button{
			margin: 250px 0px 0 0;
			font-size: 18px;
			width: 250px;
		}
		#about-us .medium .left-icon{
			margin: 50px 0 0 140px;
			width: 200px;
		}
		#about-us .medium .right-content{
			clear: both;
			margin: 0 auto;
			font-size: 13px;
			width: 478px;
			padding-right: 20px;
		}
		#about-us .medium .right-content p{
			padding: 0 0px 0 0;
		}
		#about-us .medium .right-content h3{
			font-size: 30px;
		}
		#about-us .medium .right-content .time-font{
			font-size: 32px;
		}
		#about-us{
			height: 1500px;
			width: 478px;
		}
		#about-us .medium{
			height: 1500px;
			width: 478px;
		}
		#about-us .medium .how-it-works{
			margin-top: 150px;
		}
		#about-us .medium #continue-arrow{
			float: left;
			margin-top: 100px;
			margin-left: 210px;
		}
		#about-us .medium .left-icon .icon-globe{
			font-size: 200px;
		}
		#about-us .medium .left-icon{
			clear: both;
		}
		#about-us .medium .how-it-works{
		}

		#ways{
			height: 1500px;
		}
		#personalize{
		}
		footer ul#footer-wrapper{
			width: 478px;
		}
		footer ul#footer-wrapper li{
			display: block;
			text-align: center;
		}
}
@media only screen and (max-width: 401px){
	#home-scroll{
			margin-top: 20px;
			margin-left: 180px;
			color: #999;
		}
		#home{
			background: url(/img/bg/main.png) no-repeat right center scroll;
			width: 100%;
			height: 368px;
		}
		#home .medium{
			width: 100%;
		}
		#home button{
			margin: 200px 45px 0 0;
			font-size: 22px;
			width: 300px;
		}
		#about-us{
			height: 1500px;
			width: 390px;
		}
		#about-us .medium{
			height: 1500px;
			width: 390px;
		}
		#about-us .medium .left-icon{
			margin: 50px 0 0 95px;
			width: 200px;
		}
		#about-us .medium .right-content{
			clear: both;
			margin: 0 auto;
			font-size: 13px;
			width: 390px;
			padding-right: 20px;
		}
		#about-us .medium .right-content p{
			padding: 0 0px 0 0;
		}
		#about-us .medium .right-content h3{
			font-size: 25px;
		}
		#about-us .medium .right-content .time-font{
			font-size: 26px;
		}
		#about-us .medium .how-it-works{
			margin-top: 150px;
		}
		#about-us .medium #continue-arrow{
			float: left;
			margin-top: 100px;
			margin-left: 210px;
		}
		#about-us .medium .left-icon .icon-globe{
			font-size: 200px;
		}
		#about-us .medium .left-icon{
			clear: both;
		}
		#about-us .medium .how-it-works{
			display: none;
		}
		#about-us .medium #continue-arrow{
			margin-left: 170px;
		}

		#ways{
			height: 1500px;
		}
		#personalize{
		}
		footer ul#footer-wrapper{
			width: 390px;
		}
		footer ul#footer-wrapper li{
			display: block;
			text-align: center;
		}
}
/* Device Widths/Heights */

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : portrait){
		#home-scroll{
			margin-top: 20px;
			margin-left: 140px;
			color: #d4d4d4;
		}
		#home{
			background: url(/img/bg/main.png) no-repeat right bottom scroll;
			width: 100%;
			height: 368px;
		}
		#home .medium{
			width: 100%;
		}
		#home button{
			margin: 200px 35px 0 0;
			font-size: 18px;
			width: 250px;
		}
		#about-us{
			height: 100%;
			width: 320px;
		}
		#about-us .medium{
			height: 1500px;
			width: 320px;
		}
		#about-us .medium .left-icon{
			margin: 50px 0 0 60px;
			width: 200px;
		}
		#about-us .medium .right-content{
			clear: both;
			margin: 0 auto;
			font-size: 13px;
			width: 320px;
			padding-right: 0px;
		}
		#about-us .medium .right-content p{
			padding: 0 0px 0 0;
			font-size: 13px;
		}
		#about-us .medium .right-content h3{
			font-size: 20px;
		}
		#about-us .medium .right-content .time-font{
			font-size: 32px;
		}
		#about-us .medium .how-it-works{
			margin-top: 150px;
		}
		#about-us .medium #continue-arrow{
			float: left;
			margin-top: 100px;
			margin-left: 210px;
		}
		#about-us .medium .left-icon .icon-globe{
			font-size: 200px;
		}
		#about-us .medium .left-icon{
			clear: both;
		}
		#about-us .medium .how-it-works{
			display: none;
		}
		#about-us .medium #continue-arrow{
			margin-left: 100px;
		}
		#ways{
			height: 1500px;
			display: none;
		}
		#personalize{
			display: none;
		}
		footer ul#footer-wrapper{
			width: 318px;
		}
		footer ul#footer-wrapper li{
			display: block;
			text-align: center;
		}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and(orientation : landscape){
	#home-scroll{
		margin-top: 20px;
		margin-left: 180px;
		color: #d4d4d4;
	}
	#home{
		background: url(/img/bg/main.png) no-repeat left top scroll;
		width: 100%;
		height: 184px;
	}
	#home .medium{
		width: 100%;
	}
	#home button{
		margin: 200px 35px 0 0;
		font-size: 18px;
		width: 250px;
	}
	#about-us{
		height: 100%;
		width: 320px;
	}
	#about-us .medium{
		height: 1500px;
		width: 320px;
	}
	#about-us .medium .left-icon{
		margin: 50px 0 0 60px;
		width: 200px;
	}
	#about-us .medium .right-content{
		clear: both;
		margin: 0 auto;
		font-size: 13px;
		width: 320px;
		padding-right: 0px;
	}
	#about-us .medium .right-content p{
		padding: 0 0px 0 0;
		font-size: 13px;
	}
	#about-us .medium .right-content h3{
		font-size: 20px;
	}
	#about-us .medium .right-content .time-font{
		font-size: 32px;
	}
	#about-us .medium .how-it-works{
		margin-top: 150px;
	}
	#about-us .medium #continue-arrow{
		float: left;
		margin-top: 100px;
		margin-left: 210px;
	}
	#about-us .medium .left-icon .icon-globe{
		font-size: 200px;
	}
	#about-us .medium .left-icon{
		clear: both;
	}
	#about-us .medium .how-it-works{
		display: none;
	}
	#about-us .medium #continue-arrow{
		margin-left: 100px;
	}
	#ways{
		height: 1500px;
	}
	#personalize{
	}
	footer ul#footer-wrapper{
		width: 318px;
	}
	footer ul#footer-wrapper li{
		display: block;
		text-align: center;
	}
}
@media only screen and (max-device-width: 480px){
	#home-scroll{
			margin-top: 20px;
			margin-left: 140px;
			color: #d4d4d4;
		}
		#home{
			background: url(/img/bg/main.png) no-repeat right bottom scroll;
			width: 100%;
			height: 368px;
		}
		#home .medium{
			width: 100%;
		}
		#home button{
			margin: 200px 35px 0 0;
			font-size: 18px;
			width: 250px;
		}
		#about-us .medium .left-icon{
			margin: 50px 0 0 60px;
			width: 200px;
		}
		#about-us .medium .right-content{
			clear: both;
			margin: 0 auto;
			font-size: 13px;
			width: 478px;
			padding-right: 0;
		}
		#about-us .medium .right-content p{
			padding: 0 0px 0 0;
		}
		#about-us .medium .right-content h3{
			font-size: 30px;
		}
		#about-us .medium .right-content .time-font{
			font-size: 32px;
		}
		#about-us{
			height: 1500px;
			width: 478px;
		}
		#about-us .medium{
			height: 1500px;
			width: 478px;
		}
		#about-us .medium .how-it-works{
			margin-top: 150px;
		}
		#about-us .medium #continue-arrow{
			float: left;
			margin-top: 100px;
			margin-left: 210px;
		}
		#about-us .medium .left-icon .icon-globe{
			font-size: 200px;
		}
		#about-us .medium .left-icon{
			clear: both;
		}
		#about-us .medium .how-it-works{
			display: none;
		}
		#about-us .medium #continue-arrow{
			margin-left: 100px;
		}
		#ways{
			height: 1500px;
			display: none;
		}
		#personalize{
			display: none;
		}
		footer ul#footer-wrapper{
			width: 478px;
		}
		footer ul#footer-wrapper li{
			display: block;
			text-align: center;
		}
}
