/*--------------------------- Overrides -----------------------------*/
html,body{
	width:100%;
	height: 100%;
}
body{background:transparent;}
/*------------------------ Navigation Content ---------------------*/
.wrapper{
	background: transparent;
	width: 100%;
	height: 100%;
}
.navigation{
	float: right;
	background: transparent;
}
nav{margin: 0 10px 0 0;padding: 0 0 0 0;font-family: 'Open Sans',sans-serif;color: #333;font-size: 11px;text-transform: uppercase;}
nav li{display: inline-block;margin-right: 5px;line-height: 35px;}
.logo{margin: 3px auto;width: 199px;}
/*------------------------ Feature Content ------------------------*/
.bx-controls-direction a.icon-angle-left,
.bx-controls-direction a.icon-angle-right{font-size: 30px;color: #fff;}
/*------------------------ Container Content ------------------------*/
.low-container{position:absolute;bottom: 50px;width: 100%;}
/*------------------------ Footer Content ------------------------*/
.medium{
	width: 980px;
	margin: 0 auto;
}
#continue-arrow{
	float: left;
	margin: 100px 0 0 460px;
}
#continue-arrow .icon-angle-down{
	font-size: 60px;
}
#continue-arrow a,
#continue-arrow a:link,
#continue-arrow a:active{
	border: none;
}
#home{
	background: url(/img/bg/main.png) no-repeat top center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
}
#home button{
	width: 300px;
	color: #fff;
	padding: 10px;
	text-transform: uppercase;
	float: right;
	margin: 600px 0 0 0;
	background: #888;
	border: none;
	font: 22px "Times New Roman", sans-serif;
	font-style: italic;
	border-style: solid;
	border-width: 1px;
}
#home .medium{
	margin: 0 auto;
	width: 980px;
	height: 100%;
}
#home .medium img{
	width: 51px;
	height: 26px;
	display: block;
	cursor: pointer;
	float: left;
	margin: 710px 0 0 450px;
}
#about-us{
	margin: 0 0 0 0;
	clear: both;
	height: 100%;
}
#about-us .medium{
	height: 900px;
}
#about-us .medium .left-icon{
	float: left;
	width: 260px;
	height: 260px;
	margin: 50px 0 0 0;
	text-align: center;
}
#about-us .medium .left-icon .icon-globe{
	color: #ffd67f;
	font-size: 259px;
}
#about-us .medium .right-content{
	float: right;
	font: 14px 'Open Sans',sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #888;
	width: 720px;
	margin: 52px 0 0 0;
	padding: 0 0 0 10px;
	text-transform:inherit;
}
#about-us .medium .right-content h3{
	font: 50px 'Open Sans',sans-serif;
	font-weight: 300;
	color: #888;
	text-transform: uppercase;
}
#about-us .medium .right-content p{
	font: 16px/30px 'Open Sans',sans-serif;
	font-weight: 300;
	color: #888;
	text-transform: inherit;
}
#about-us .medium .right-content .time-font{
	font: 53px 'Times',sans-serif;
	font-weight: 300;
	color: #888;
	font-style: italic;
}
#about-us .medium .how-it-works{
	float: left;
	margin: 50px 0 0 0;
	width: 980px;
}
#about-us .medium .how-it-works ul.steps{
	width: 850px;
	margin: 0 auto;
}
#about-us .medium .how-it-works ul.steps-content{
	width: 850px;
	margin: 20px auto;
}
#about-us .medium .how-it-works ul.steps li{
	list-style: none;
	display: inline-block;
	width: 260px;
	text-align: center;
}
#about-us .medium .how-it-works ul.steps-content li{
	list-style: none;
	display: inline-block;
	width: 260px;
	text-align: center;
	font: 16px/30px 'Open Sans',sans-serif;
	font-weight: 300;
	color: #888;
	text-transform: inherit;
}
#about-us .medium .how-it-works ul.steps-content li .circles{
	display: block;
	width: 41px;
	height: 41px;
	margin: 0 auto;
}
#about-us .medium .how-it-works .steps-content p{
	font: 16px/30px 'Open Sans',sans-serif;
	font-weight: 300;
	color: #888;
	text-transform: inherit;
	padding-top: 20px;
	padding-bottom: 20px;
}
#ways{
	float:left;
	margin: 200px 0 0 0;
	clear: both;
	background: url(/img/patterns/dust_@2X.png);
	width: 100%;
	height: 100%;
}
#ways .medium{
	height: 750px;
}
#ways .medium h3{
	font: 50px 'Open Sans',sans-serif;
	font-weight: 300;
	color: #888;
	text-transform: uppercase;
	margin-bottom: 0;
	padding-top: 20px;
}
#ways .medium article,
#ways .medium p{
	font: 16px/30px 'Open Sans',sans-serif;
	font-weight: 300;
	color: #888;
	text-transform: inherit;
}
#ways .medium article{
	margin-bottom: 20px;
}
#ways .medium #map{
}
#ways .medium #map_canvas{
	border-radius: 2px;
	border-color: #ffd67f;
	border: 6px solid #ffd67f;
}
#ways .medium #map_canvas p{
	font: 13px Arial,Helvetica,sans-serif;
	color: #999;
	padding-top: 8px;
}
#ways .medium .right-content .time-font{
	font: 53px 'Times',sans-serif;
	font-weight: 300;
	color: #888;
	font-style: italic;
}
#ways .medium a,
#ways .medium a:link,
#ways .medium a:active{
	text-decoration: none;
	color: #999;
	border-bottom: 1px solid #999;
	padding-bottom: 2px;
	font-weight: 400;
}
#ways .medium a:hover{
	text-decoration: none;
	color: #888;
	border-bottom: 1px solid #888;
	padding-bottom: 2px;
}
#ways .medium a#continue-arrow{
	border: none;

}
#personalize{
	margin: 100px 0 0 0;
	clear: both;
	height: 100%;
}
#personalize .medium{
	height: 100%;
}
#personalize .medium h3{
	font: 50px 'Open Sans',sans-serif;
	font-weight: 300;
	color: #888;
	text-transform: uppercase;
	margin-bottom: 0;
	padding-top: 20px;
}
#personalize .medium p{
	font: 16px/30px 'Open Sans',sans-serif;
	font-weight: 300;
	color: #888;
	text-transform: inherit;
}
#personalize .medium .right-content .time-font{
	font: 53px 'Times',sans-serif;
	font-weight: 300;
	color: #888;
	font-style: italic;
}
#personalize .medium a,
#personalize .medium a:link,
#personalize .medium a:active{
	text-decoration: none;
	color: #999;
	border-bottom: 1px solid #999;
	padding-bottom: 2px;
	font-weight: 400;
}
#personalize .medium a:hover{
	text-decoration: none;
	color: #888;
	border-bottom: 1px solid #888;
	padding-bottom: 2px;
}
#personalize .medium .products{
	float: left;
	margin: 100px 0 0 0;
	width: 980px;
}
#personalize .medium .products ul.product-images{
	width: 850px;
	margin: 0 auto;
}
#personalize .medium .products ul.product-names{
	width: 850px;
	margin: 20px auto;
}
#personalize .medium .products ul.product-images li{
	list-style: none;
	display: inline-block;
	width: 150px;
	text-align: center;
}
#personalize .medium .products ul.product-names li{
	list-style: none;
	display: inline-block;
	width: 150px;
	text-align: center;
	font: 16px/30px 'Open Sans',sans-serif;
	font-weight: 300;
	color: #888;
	text-transform: inherit;
	vertical-align: top;
}
#personalize .medium button{
	width: 350px;
	color: #111;
	padding: 10px;
	text-transform: uppercase;
	float: right;
	margin: 50px 0 0 0;
	background: #888;
	border: none;
	font: 22px "Times New Roman", sans-serif;
	font-style: italic;
	border-style: solid;
	border-width: 1px;
	background: transparent;
	border-color: #111;
}
#personalize .medium button .icon-angle-right{
	padding-left: 10px;
	font-size: 25px;
}
#personalize .medium button:hover{
	border-color: #999;
	color: #999;
}
#continue-arrow{
	-webkit-animation: pulsate 3s ease-in-out 0s infinite alternate;
	-moz-animation: pulsate 3s ease-in-out 0s infinite alternate;
	animation: pulsate 3s ease-in-out 0s infinite alternate;
}
#home-scroll{
	display: block;
	width: 60px;
	height: 60px;
	float: left;
	margin: 680px 0 0 460px;
	-webkit-animation: pulsate 3s ease-in-out 0s infinite alternate;
	-moz-animation: pulsate 3s ease-in-out 0s infinite alternate;
	animation: pulsate 3s ease-in-out 0s infinite alternate;
	text-align: center;
}
@-webkit-keyframes pulsate {
    0%{opacity: 1;}
    50%{opacity: 0.3;}
    100%{opacity: 1;}
}
@-moz-keyframes pulsate {
    0%{opacity: 1;}
    50%{opacity: 0.3;}
    100%{opacity: 1;}
}
@keyframes pulsate {
    0%{opacity: 1;}
    50%{opacity: 0.3;}
    100%{opacity: 1;}
}
#home-scroll .icon-angle-down{
	color: #fff;
	font-size: 60px;
	margin: 0 auto;
}
.continue-arrow{
	width: 76px;
	height:51px;
	margin: 0 auto;
}
#map_canvas{
	width: 980px;
	height: 400px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.icon-angle-down{
	color: #d4d4d4;
	font-size: 100px;
	margin: 0 auto;
}
/* Footer Content */
footer{
	position:relative;
	bottom: 0;
	background: transparent;
	opacity: 0.8;
	width: 100%;
	height: 50px;
	font-family: 'Open Sans',sans-serif;
	color: #333;
	font-size: 11px;
	text-transform: uppercase;
}
footer ul#footer-wrapper{margin: 15px auto;padding:0;width:550px;}
footer ul#footer-wrapper li{display: inline-block;width: 160px;text-align: center;}
footer ul#footer-wrapper li a{color: #333;}
footer ul#footer-wrapper li a:hover{text-decoration: underline;color: #333;}
/* Modals */
.reveal-modal p, .reveal-modal ul li{
	font-size: 13px;
	font: 13px/18px 'Open Sans',sans-serif;
	font-weight: 300;
}
.reveal-modal ul li{
	margin-left: 30px;
}
.reveal-modal h3{
	font: 16px/22px 'Open Sans',sans-serif;
	color: #111;
	text-transform: uppercase;
	font-weight: 300;
}

/* ----------------------------- Scrolls Bars ---------------------------------------*/

/* ----------------------------- Media Queries ---------------------------------------*/
@media only screen and(min-height: 900px){
	#home button{
		margin: 800px 0 10px 0;
	}
	#home .medium{

	}
	#home-scroll{
		margin: 800px 0 0 460px;
	}
}
@media only screen and(min-height: 1000px){
	#home button{
		margin: 890px 0 10px 0;
	}
	#home .medium{

	}
	#home-scroll{
		margin: 920px 0 0 460px;
	}
}
@media only screen and(min-height: 1100px){
	#home button{
		margin: 950px 0 10px 0;
	}
	#home .medium{

	}
	#home-scroll{
		margin: 1050px 0 0 460px;
	}
}
@media only screen and(min-height: 1200px){
	#home button{
		margin: 1000px 0 10px 0;
	}
	#home .medium{

	}
	#home-scroll{
		margin: 1100px 0 0 460px;
	}
}
@media only screen and(min-height: 1300px){
	#home button{
		margin: 1200px 0 10px 0;
	}
	#home .medium{

	}
	#home-scroll{
		margin: 1250px 0 0 460px;
	}
}
@media only screen and (max-width: 980px){
	#home{
		width: 100%;
		height: 100%;
	}
	#map{
		width: 100%;
		margin: 0 auto;
	}
	#map_canvas{
		width: 100%;
	}
	#about-us .medium .right-content{
		padding-left: 5px;
	}
	#ways{
		width: 100%;
	}
	#ways .medium{
		width: 100%;
		margin: 0 auto;
	}
	#ways .medium h3{
		padding-left: 10px;
	}
	#ways .medium p,
	#ways .medium article{
		padding-left: 10px;
		padding-right: 10px;
	}
	#ways .medium a{
		border: none;
	}
	#personalize{
		width: 978px;
	}
	#personalize .medium{
		width: 978px;
		margin: 0 auto;
	}
	#personalize .medium h3{
		padding-left: 10px;
	}
	#personalize .medium button{
		margin: 50px 100px 0 0;
	}
}
@media only screen and (max-width: 901px){
	#home-scroll{
		width: 39px;
		height: 61px;
		margin: 70% 0% 0 45%;
	}
	#home{
		width: 100%;
		height: 100%;
	}
	#map{
		width: 100%;
		margin: 0 auto;
	}
	#map_canvas{
		width: 100%;
	}
	#about-us .medium .right-content{
		padding-left: 5px;
	}
	#ways{
		width: 100%;
	}
	#ways .medium{
		width: 100%;
		margin: 0 auto;
	}
	#ways .medium h3{
		padding-left: 10px;
	}
	#ways .medium p,
	#ways .medium article{
		padding-left: 10px;
		padding-right: 10px;
	}
	#ways .medium a{
		border: none;
	}
	#personalize{
		width: 978px;
	}
	#personalize .medium{
		width: 978px;
		margin: 0 auto;
	}
	#personalize .medium h3{
		padding-left: 10px;
	}
	#personalize .medium button{
		margin: 50px 100px 0 0;
	}
}

@media only screen and (max-width: 480px){
	#home-scroll{
			margin-top: 20px;
			margin-left: 230px;
			color: #999;
		}
		#home{
			background: url(/img/bg/main.png) no-repeat right top scroll;
			width: 100%;
			height: 368px;
		}
		#home .medium{
			width: 100%;
		}
		#home button{
			margin: 250px 0px 0 0;
			font-size: 18px;
			width: 250px;
		}
		#about-us .medium .left-icon{
			margin: 50px 0 0 140px;
			width: 200px;
		}
		#about-us .medium .right-content{
			clear: both;
			margin: 0 auto;
			font-size: 13px;
			width: 478px;
			padding-right: 20px;
		}
		#about-us .medium .right-content p{
			padding: 0 0px 0 0;
		}
		#about-us .medium .right-content h3{
			font-size: 30px;
		}
		#about-us .medium .right-content .time-font{
			font-size: 32px;
		}
		#about-us{
			height: 1500px;
			width: 478px;
		}
		#about-us .medium{
			height: 1500px;
			width: 478px;
		}
		#about-us .medium .how-it-works{
			margin-top: 150px;
		}
		#about-us .medium #continue-arrow{
			float: left;
			margin-top: 100px;
			margin-left: 210px;
		}
		#about-us .medium .left-icon .icon-globe{
			font-size: 200px;
		}
		#about-us .medium .left-icon{
			clear: both;
		}
		#about-us .medium .how-it-works{
		}

		#ways{
			height: 1500px;
		}
		#personalize{
		}
		footer ul#footer-wrapper{
			width: 478px;
		}
		footer ul#footer-wrapper li{
			display: block;
			text-align: center;
		}
}
@media only screen and (max-width: 401px){
	#home-scroll{
			margin-top: 20px;
			margin-left: 180px;
			color: #999;
		}
		#home{
			background: url(/img/bg/main.png) no-repeat right center scroll;
			width: 100%;
			height: 368px;
		}
		#home .medium{
			width: 100%;
		}
		#home button{
			margin: 200px 45px 0 0;
			font-size: 22px;
			width: 300px;
		}
		#about-us{
			height: 1500px;
			width: 390px;
		}
		#about-us .medium{
			height: 1500px;
			width: 390px;
		}
		#about-us .medium .left-icon{
			margin: 50px 0 0 95px;
			width: 200px;
		}
		#about-us .medium .right-content{
			clear: both;
			margin: 0 auto;
			font-size: 13px;
			width: 390px;
			padding-right: 20px;
		}
		#about-us .medium .right-content p{
			padding: 0 0px 0 0;
		}
		#about-us .medium .right-content h3{
			font-size: 25px;
		}
		#about-us .medium .right-content .time-font{
			font-size: 26px;
		}
		#about-us .medium .how-it-works{
			margin-top: 150px;
		}
		#about-us .medium #continue-arrow{
			float: left;
			margin-top: 100px;
			margin-left: 210px;
		}
		#about-us .medium .left-icon .icon-globe{
			font-size: 200px;
		}
		#about-us .medium .left-icon{
			clear: both;
		}
		#about-us .medium .how-it-works{
		}
		#about-us .medium #continue-arrow{
			margin-left: 170px;
		}

		#ways{
			height: 1500px;
		}
		#personalize{
		}
		footer ul#footer-wrapper{
			width: 390px;
		}
		footer ul#footer-wrapper li{
			display: block;
			text-align: center;
		}
}
/* ---------------------------------- Device Widths/Heights ----------------------------------- */
@media only screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2){
	#home{
		background: url(/img/bg/main.png) no-repeat right bottom scroll;
		width: 100%;
		height: 100%;
	}
	#home .medium{
		width: 100%;
	}
	#home button{
		margin: 280px 35px 0 0;
		font-size: 18px;
		width: 250px;
	}
	#home-scroll{
		margin-top: 10px;
		margin-left: 140px;
		color: #d4d4d4;
	}
	#about-us{
		height: 100%;
		width: 100%;
	}
	#about-us .medium{
		height: 100%;
		width: 100%;
	}
	#about-us .medium .how-it-works{
		width: 100%;
		height: 1200px;
		margin-top: 30px;
	}
	#about-us .medium .how-it-works ul.steps{
		width: 100%;
		height: 100%;
	}
	#about-us .medium .how-it-works ul.steps-content li{
		display: block;
		margin-bottom: 50px;
		margin-left: 30px;
	}
	#about-us .medium .how-it-works ul.steps-content li:nth-last-child(1){
		margin-bottom: 0px;
	}
	#about-us .medium article{
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
		text-align: justify;
	}
	#about-us .medium .left-icon{
		margin: 30px 0 0 60px;
		width: 200px;
	}
	#about-us .medium .right-content{
		clear: both;
		font-size: 13px;
		line-height: 24px;
		width: 100%;
		padding-right: 0px;
	}
	#about-us .medium .right-content p{
		padding: 0 0px 0 0;
		font-size: 13px;
		line-height: 24px;
	}
	#about-us .medium .right-content h3{
		font-size: 20px;
	}
	#about-us .medium .right-content .time-font{
		font-size: 22px;
	}
	#about-us .medium .left-icon .icon-globe{
		font-size: 200px;
	}
	#about-us .medium .left-icon{
		clear: both;
	}
	#about-us .medium #continue-arrow{
		margin-top: 0px;
		margin-left: 150px;
	}
	#ways{
		margin-top: 150px;
		height: 1000px;
		width: 100%;
	}
	#ways .medium{
		height: 100%;
		width: 100%;
	}
	#ways .medium h3{
		font-size: 26px;
		text-align: center;
	}
	#ways .medium article{
		font-size: 13px;
		text-align: justify;
		line-height: 24px;
	}
	#ways .medium #continue-arrow{
		margin-top: 30px;
		margin-left: 150px;
	}
	#personalize{
		width: 100%;
		height: 100%;
	}
	#personalize .medium{
		width: 100%;
		height: 100%;
	}
	#personalize .medium h3{
		font-size: 26px;
		text-align: center;
	}
	#personalize .medium .products{
		width: 100%;
		margin-left: 85px;
	}
	#personalize .medium .products ul.product-names li{
		display: block;
		margin-bottom: 50px;
	}
	#personalize .medium .products ul.product-names li:active{
		-webkit-transform:scale(0.9);
		    -moz-transform:scale(0.9);
		    -ms-transform:scale(0.9);
		    -o-transform:scale(0.9);
		    transform:scale(0.9);
		    -webkit-box-shadow:0px 0px 20px #111;
		    -moz-box-shadow:0px 0px 20px #111;
		    -o-box-shadow:0px 0px 20px #111;
		    box-shadow:0px 0px 20px #111;
	}
	#personalize .medium button{
		margin: 50px 10px 0 0;
		background: transparent;
		border-color: #111;
		color: #111;
	}
	footer{
	}
	footer ul#footer-wrapper{
		width: 100%;
	}
	footer ul#footer-wrapper li{
		text-align: center;
	}
}